<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <JD_Example>
            <version>0.0.1</version>
        </JD_Example>
    </modules>
    <global>
        <models>
            <example>
                <class>JD_Example_Model</class>
            </example>
        </models>
        <block>
            <example>
                <class>JD_Example_Block</class>
            </example>
        </block>
        <helpers>
            <example>
                <class>JD_Example_Helper</class>
            </example>
        </helpers>
    </global>

    <fronend>
        <routers>
            <example>
                <use>standard</use>
                <frontName>example</frontName>
                <module>JD_Example</module>
            </example>
        </routers>
    </fronend>
    
</config>
